body {
    background-color: #0b1416;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
    /* width: 99cqw; */
    overflow-y: scroll;

}
* {
    margin: 0;
    padding: 0;
    color:white;
}

nav {
    display: flex;
    margin-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid white;
    caret-color: white;
    background-color: #0b1416;
    /* background-color:  #0A0937; */
}
.logo{
    display: flex;
    place-items: center;
}
.logo img {
    margin-left: 1.50rem;
    height: 2.50rem;
    cursor: pointer;
}

.name {
    /* margin-top: 0.75rem;
    margin-left: 0.50rem; */
    /* color: white; */
    cursor: pointer;
    display: flex;
    place-items: center;
    flex-direction: row;
    /* height: 100%; */
}
.name span{
    color: red;
}

.search-bar {
    width: 70%;
    height: 50%;
    border: 2px solid white;
    padding: 0.65rem;
    margin-left: 15%;
    border-radius: 1.75rem;
    display: flex;
    place-items: center;
    img{
        cursor: pointer;
        margin: 5px;
        margin-bottom: 0px;
    }
    .input_wala{
        /* height: 100%; */
        padding-left: 2%;
        width: 100%;
        color: white;
        font-size: 20px;
        input::placeholder {
           
            font-size: 20px;
            
        }
        input{
            /* height: 100%; */
            width: 100%;
        }
        input[type="text"] {
            font-size:20px;
        }
        
    }

}
/* .search-bar:hover{

    
} */
.extra_wala{
 width: 20%;   
}
.search-bar input {
    background: transparent;
    border: 0rem;
    width: 50%;
    outline: 0rem;
}
.badge1{
    display: flex;
    place-items: center;
    margin: 10px;
}
.badge1 button {
    display: flex;
    place-items: center;
    gap: 5px;
    height: 2.50rem;
    width: 6rem;
    border: 0;
    padding: 10%;
    border-radius: 1.75rem;
    /* margin-left: 5rem; */
    background-color: #08066D;
    color: #fff;
    cursor: pointer;
    border: 1px solid white;
    transition: 1s ease; 
    img{
        transition: 1s ease; 
    }

}
.badge1 button:hover{
    /* padding: 0%; */
    /* color: #08066D; */
    /* background-color: white; */
    p{
        padding-left: 10%;
          color: #08066D;
    }
    img{
        height: 0px;
        width: 0px;
    }
    background-color: white;
    color: red;
    border: 1px solid #08066D;
    transition: 1s ease; 
}

.badge2{
    display: flex;
    place-items: center;
    margin: 10px;
    
}
.badge2 button {
    display: flex;
    place-items: center;
    gap: 5px;
    padding: 5%;
    height: 2.50rem;
    width: 4.75rem;
    border: 0rem;
    border-radius: 1.50rem;
    transition: 1s ease; 
    /* margin-left: 0.75rem; */
    background-color: red;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    img{
        transition: 1s ease; 
    }
}
.badge2 button:hover{
    background-color: white;
    p{
       color: red; 
       padding-left: 15%;
    }
    img{
        height: 0px;
        width: 0px;
    }
    transition: 1s ease; 
    border: 1px solid red;
}


.badge3{
    display: flex;
    place-items: center;
    margin: 10px;
}
.badge3 button {
    height: 2rem;
    width: 2rem;
    /* margin-left: 0.85rem; */
    border-radius:50% ;
    border: 0rem;
    /* margin-top: 0.25rem; */
    outline: 0;
    background-color: #0F0BD7;
    color: white;
    cursor: pointer;
}
/* .badge3 button:hover{
    opacity: 0.7;
    box-shadow:1px 1px 1px 1px black;
} */
body::-webkit-scrollbar {
    display: none;
}
/* .main_div{
    height: 15vh;
    border: 2px solid white;
} */


.main_content_wala{
    overflow: hidden;
    height: 100%;
    display: flex;
    /* border: 2px solid white; */
    /* background-color: red; */
    /* width: 100%; */
    .left_wala{
        /* border: 2px solid white; */
        border-top: 0px;
        /* background-color: green; */
        /* width: 25%; */
        width: 250px;
        /* overflow: hidden; */
        height: 100%;
        background-color: #111c1f;
    }
    .right_wala{
        display: flex;
        /* background-color: red; */
        width: 85vw;
        padding-right: 5%;
        overflow: scroll;
        height: 300px;
        /* background-color: #111c1f; */
        /* height: 99vh; */
        /* position: absolute ; */
    }
}
.sidebar{
    width: 250px;
    background-color: #111c1f;
    height: 100%;
    /* position: fixed; */
    top: 0;
    overflow-y: auto;
    transition: all 0.5s ease;
    transition-property: left;
    /* left: -250px; */
}
.close-btn{
    position: absolute;
    color: #ffffff;
    font-size: 23px;
    right: 0;
    margin: 15px;
    cursor: pointer;
}
.menu{
    width: 100%;
    margin-top: 10px;
}
.menu .item{
    position: relative;
    cursor: pointer;

}
.menu .item a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    display: block;
    padding: 5px 30px;
    line-height: 2;
}
.item i{
    margin-right: 10px;
}
.item a .dropdown{
    position: absolute;
    margin: 10px;
    right: 10px;
    transition: 0.3s ease;
}
.item .sub-menu{
    background-color: #1e363c;
    display: none;
}
.menu-btn{
    position: absolute;
    color: black;
    font-size: 2em;
    cursor: pointer;
    margin: 2%;
}
/* .sidebar.active{
    left: 0px;
} */
.rotate{
    transform: rotate(-180deg);
}
.sidebar::-webkit-scrollbar{
    width: 0px;
}
.ese_hei{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-color: #08066D; */
    margin: 10px;
}
.top10_trending_news {
    padding: 1%;
    /* width: 100vh; */
    display: flex;
    justify-content: center;
    gap: 20px;
    /* align-items: top; */
  
    .text{
        
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s ease, z-index 2s ease;
        padding: 2%;
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        line-height: 35px;
        justify-content: end;
        align-items: flex-end;
        overflow:hidden;
        
        /* place-items: end; */
        h1{
            font-size: 32px;
            line-height: 40px;
            text-align: left;
            align-self: left;
        }
        

    }
    .news_one {
        /* border: 2px solid white; */
        /* box-shadow: 0px 0px 3px white; */
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        /* background-color: blue; */
        border-radius: 10px;
        border: 1px solid #3b3838;
        display: flex;
        justify-content: last baseline;
        align-items: last baseline;
        /* border: 1px transparent; */
        .news_img {
            filter: blur(1px) brightness(0.4) contrast(1);
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-image: url('https://www.hindustantimes.com/ht-img/img/2024/02/13/550x309/PTI02-13-2024-000039B-0_1707804295778_1707804338588.jpg');
            
        }
    }

    

    .content {
        /* transition: 4s; */
        position: relative;
        background-color: red;
        padding-left: 5%;
        color: white;
        border: 1px transparent;
        overflow: scroll;
        line-height: 30px;
        height: 0%;
        opacity: 1;
        width: 100%;

        border-radius: 10px;
        filter: blur(0px);
        background-color: rgba(0, 0, 0, 0.8);
        transition: 2s ease;
        h1{
            font-size: 20px;
            line-height: 30px;
        }
        
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    .news_one:hover .content {
        height: 100%;
        opacity: 1;
        
    }

    .news_one:hover .news_img {
        filter: blur(5px) brightness(0.4) contrast(1);
    }

    .news_one:hover .text{
        z-index: -1;
        opacity: 0;
    }
    

    .news_two {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        /* background-color: blue; */
        border-radius: 10px;
        border: 1px solid #3b3838;
        display: flex;
        justify-content: last baseline;
        align-items: last baseline;
        /* border: 1px transparent; */
        .news_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-image: url('https://c.ndtvimg.com/2024-02/sc94185_pm-modi-mohamed-bin-zayed_625x300_13_February_24.jpeg?downsize=570:351&w=570?im=FeatureCrop,algorithm=dnn,width=650,height=400');
            filter: blur(1.5px) brightness(0.4) contrast(1);
            background-position: 50%;
        }
    }
    .news_two:hover .content {
        height: 100%;
        opacity: 1;
    }

    .news_two:hover .news_img {
        filter: blur(5px) brightness(0.4) contrast(1);
    }
    .news_two:hover .text{
    
        opacity: 0;
        z-index: -1;
    }
    

    .news_three{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        /* background-color: blue; */
        border-radius: 10px;
        border: 1px solid #3b3838;
        display: flex;
        justify-content: last baseline;
        align-items: last baseline;
        /* border: 1px transparent; */
        .news_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-image: url('https://www.hindustantimes.com/ht-img/img/2024/02/13/550x309/TOPSHOT-PAKISTAN-POLITICS-VOTE-1_1707832384459_1707832421039.jpg');
            filter: blur(1.5px) brightness(0.4) contrast(1);
            background-position: 50%;
        }
    }
    .news_three:hover .content{
        height: 100%;
        opacity: 1;
    }

    .news_three:hover .news_img {
        filter: blur(2px);
    }
    .news_three:hover .news_img {
        filter: blur(5px) brightness(0.4) contrast(1);
    }

    .news_three:hover .text{
        opacity: 0;
        z-index: -1;
    }


    .news_four{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        /* background-color: blue; */
        border-radius: 10px;
        border: 1px solid #3b3838;
        display: flex;
        justify-content: last baseline;
        align-items: last baseline;
        /* border: 1px transparent; */
        .news_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-image: url('https://www.aljazeera.com/wp-content/uploads/2024/02/HaldwaniAJ_01-1707816087.jpg?resize=770%2C513&quality=80');
            filter: blur(1.5px) brightness(0.4) contrast(1);
            background-position: 80%;
        }
    }
    .news_four:hover .content{
        height: 100%;
        opacity: 1;
    }

    .news_four:hover .news_img {
        filter: blur(5px) brightness(0.4) contrast(1);
    }
    .news_four:hover .text{
         opacity: 0;
        z-index: -1;
    }
    .news_five{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        /* background-color: blue; */
        border-radius: 10px;
        border: 1px solid #3b3838;
        display: flex;
        justify-content: last baseline;
        align-items: last baseline;
        /* border: 1px transparent; */
        .news_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-image: url('https://bsmedia.business-standard.com/_media/bs/img/article/2024-02/18/full/1708226410-2671.jpg?im=FitAndFill=(826,465)');
            filter: blur(1.5px) brightness(0.4) contrast(1);
            background-position: 50%;
        }
    }
    .news_five:hover .content{
        height: 100%;
        opacity: 1;
    }

    .news_five:hover .news_img {
        filter: blur(5px) brightness(0.4) contrast(1);
    }
    .news_five:hover .text{
         opacity: 0;
        z-index: -1;
    }
    .news_six{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 250px;
        /* background-color: blue; */
        border-radius: 10px;
        border: 1px solid #3b3838;
        display: flex;
        justify-content: last baseline;
        align-items: last baseline;
        /* border: 1px transparent; */
        .news_img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-image: url('https://c.ndtvimg.com/2024-02/aekrouuo_biden-met-navalny-widow-wife_625x300_23_February_24.jpeg');
            filter: blur(1.5px) brightness(0.4) contrast(1);
            background-position-y: 30%;
            background-position-x: 45%;
        }
    }
    .news_six:hover .content{
        height: 100%;
        opacity: 1;
    }

    .news_six:hover .news_img {
        filter: blur(5px) brightness(0.4) contrast(1);
    }
    .news_six:hover .text{
         opacity: 0;
        z-index: -1;
    }
    .empty{
        height: 10px;
        width: 10px;
    }
}
.right_wala::-webkit-scrollbar{
    display: none;
}
.ai_plus_library{
    height: 100%;
    width: 100%;
    display: flex;

}
.ai_news_wala{
    height: 100%;
    width: 75%;
    /* background-color: red; */
}
.library_wala{
    height: 100%;
    width:25%;
    /* background-color: green; */
}
/* @media (max-width:900px)
{
    .top10_trending_news{
        grid-template-columns: repeat(1,1fr);
        .news_one{
            height: 300px;
            /* width: 90%; */
        }
        .news_two{
            height: 300px;
            /* width: 300px; */
        }
        .news_three{
            height: 300px;
            /* width: 300px; */
        }
        .news_four{
            height: 300px;
            /* width: 300px; */
        }
    }
}
@media (max-width:400px)
{
    .top10_trending_news{
        grid-template-columns: repeat(1,1fr);
        .news_one{
            height: 200px;
            /* width: 90%; */
        }
        .news_two{
            height: 200px;
            /* width: 200px; */
        }
        .news_three{
            height: 200px;
            /* width: 200px; */
        }
        .news_four{
            height: 200px;
            /* width: 200px; */
        }
    }
} */
